<a href="https://colab.research.google.com/github/Almogod/denvey/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [5]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/student.csv')
print("Original Data:\n")
print(df.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Original Data:

    Name  Math  Science  Age
0    Anu  78.0     88.0   15
1   Binu  90.0      NaN   14
2  Chinu   NaN     76.0   16
3  Deepa  85.0     92.0  -14
4    NaN  99.0     60.0   17

In [6]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
numerical_cols = df.select_dtypes(include=[np.number]).columns
scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [12]:
def get_grade(score):
    score = score * 100
    if score < 50:
        return 'F'
    elif score < 60:
        return 'D'
    elif score < 70:
        return 'C'
    elif score < 80:
        return 'B'
    else:
        return 'A'
df['Math_Grade'] = df['Math'].apply(get_grade)

In [13]:
df['Math_Binned'] = pd.cut(df['Math'], bins=3, labels=['Low', 'Medium', 'High'])
print("\nProcessed Data:\n")
print(df.head())

Processed Data:

    Name      Math  Science       Age Math_Grade Math_Binned
0    Anu  0.000000  0.87500  0.935484          F         Low
1   Binu  0.571429  0.59375  0.903226          D      Medium
2  Chinu  0.495238  0.50000  0.967742          F      Medium
3  Deepa  0.333333  1.00000  0.000000          F         Low
4    NaN  1.000000  0.00000  1.000000          A        High